/*******************************************************************/
/* Created: June 8 2017 by Troy Center, troycenter1@gmail.com.     */
/* CSS for the Flask fundamentals assignment "Dojo Survey"      */
/*******************************************************************/

/***************************************************/
/*               CSS reset settings                */
/***************************************************/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
        background-image: linear-gradient(300deg, orange, white);
        height: 1800px;
        width: 1200px;
        padding: 150px;
}
#normalinputs {
    margin: 50px;
}

#inputleft {
    display: inline-block;
}

#inputright {
    display: inline-block;
}
#largeinputs {
    height: 200px;
    width: 350px;
    position: relative;
    left: 50px;
}
#largecomment {
    height: 150px;
    width: 400px;
}
#submitbutton {
    position: relative; 
    top: 100px; 
    left: 300px;
}

footer {
    margin-top: 100px;
    text-align: center;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

/***************************************************/
/*     MAIN CSS                                    */
/***************************************************/