<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Forms Action Page</title>
        <meta description='results page after form is completed'>
        <meta charset='utf-8'/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src='.js'></script>
    </head>
    <body>
        <div id='wrapper'>
            <h1>Submitted Form Data</h1>
            <h3>Your input was received:</h3><br>
            <h4>Name: </h4><p>{{ name }}</p><br>
            <h4>Your Dojo: </h4><p>{{ dojo }}</p><br>
            <h4>You're favorite language: </h4><p>{{ language }}</p><br>
            <h4>Comments: </h4>{{ comment }}</p><br>
            <br>
            <p><i>The server has processed your input and returned this answer.</i></p>
            <p><i>The sultan of Brunei and his agents may be contacting you shortly about the $$ transfer... Check your email<i></p>
            <br>
            <p><strong>Note:</strong> This tutorial taught me how servers are processing input. Thanks Coding Dojo!</p>
        </div>
    </body>
</html>
